/* 
color: #176478;
color: #44A1A8;
color: #1E1E1E;
color: #FFFFFF;
color: #E6FDFF;
color: #E6FDFF;

fonts- Noto Serif HK
fonts- Outfit
fonts- Hepta Slab

h2: font-size 36px;
btn-font: outfit
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  color: #1e1e1e;
}
img,
a {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* ///////////////////// General Css //////////////////////////// */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.content-container {
  max-width: 1260px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
}
.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}
.btn {
  width: fit-content;
  padding: 14px 32px;
  background-color: #176478;
  color: #fff;
  border-radius: 12px;
  text-transform: uppercase;
}
.section-heading {
  text-transform: uppercase;
  color: #44a1a8;
}
.title {
  font-family: "Hepta Slab", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
/* ///////////////////// Hero Section //////////////////////////// */
.hero {
  background-color: #176478;
  color: #fff;
  padding: 100px 0px 120px;
}
.hero-container {
  gap: 85px;
  max-width: 1260px;
  margin: 0 auto;
}
.hero-content {
  max-width: 594px;
}
.hero-title {
  font-size: 52px;
  font-family: "Hepta Slab", sans-serif;
  margin-bottom: 24px;
}
.hero-detail {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.5;
}
.hero-btn {
  width: fit-content;
  background-color: #44a1a8;
}
/* ///////////////////// About-Us Section //////////////////////////// */
.about-card {
  background-color: #fff;
  max-width: 1344px;
  margin: -60px auto 0px;
  padding: 50px 196px;
  border-radius: 24px;
  box-shadow: 0px 5px 20px #00000020;
}
.about-card-item {
  flex: 1;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.about-card-svg {
  padding: 22px;
  width: fit-content;
  border-radius: 50%;
  background-color: #44a1a8;
}
.about-card-txt {
  max-width: 128px;
  text-align: center;
}
.about-content {
  margin: 120px auto;
  text-align: center;
}
.about-detail {
  font-size: 28px;
  margin: 16px auto 12px;
  max-width: 940px;
}
.about-btn {
  margin: 0 auto;
  width: fit-content;
  background-color: #44a1a8;
}
.about-flex-card {
  align-items: stretch;
  justify-content: space-between;
  margin-top: 75px;
}
.about-flex-card-item1,
.about-flex-card-item2 {
  align-items: start;
  background-color: #44a1a8;
  text-align: start;
  border-radius: 24px;
  padding: 60px 0px 0px 50px;
  position: relative;
  overflow: hidden;
}
.about-flex-card-item2 {
  background-color: #176478;
}
.about-flex-card-title {
  color: #fff;
}
.about-flex-card-txt {
  color: #fff;
  margin: 16px 0px 30px;
}
.about-flex-card-btn {
  width: fit-content;
  background-color: #fff;
  color: #44a1a8;
}
.about-flex-img-1,
.about-flex-img-2 {
  margin-left: -70px;
}
.about-flex-img-2 {
  z-index: 1;
  align-self: end;
}
.about-ring-1 {
  position: absolute;
  bottom: -100px;
  left: 0px;
}
.about-ring-2 {
  position: absolute;
  bottom: -100px;
  right: -65px;
}
/* ///////////////////// Course Section //////////////////////////// */

.course {
  background-color: #e6fdff;
  padding: 90px 0px;
}
.course-container {
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #fff;
  padding-left: 85px;
  border-radius: 24px;
}
.course-title {
  max-width: 550px;
  margin: 16px 0px 50px;
}
/* ///////////////////// Services Section //////////////////////////// */
.services {
  max-width: 1130px;
  margin: 130px auto 150px;
  text-align: center;
}
.service-title {
  margin: 15px 0px 25px;
}
.service-txt {
  margin: 0 auto;
  font-size: 18px;
  max-width: 744px;
  line-height: 1.3;
}
.service-grid {
  margin: 40px 0px 150px;
}
.service-grid-img {
  width: 100%;
}
.service-grid-btn {
}
