/* 
color: #176478;
color: #44A1A8;
color: #1E1E1E;
color: #FFFFFF;
color: #E6FDFF;
color: #E6FDFF;

fonts- Noto Serif HK
fonts- Outfit
fonts- Hepta Slab

h2: font-size 36px;
btn-font: outfit
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  color: #1e1e1e;
}
img,
a {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* ///////////////////// General Css //////////////////////////// */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.content-container {
  max-width: 1260px;
  margin: 0 auto;
}
.width-container {
  max-width: 1130px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
}
.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}
.btn {
  width: fit-content;
  padding: 14px 32px;
  background-color: #176478;
  color: #fff;
  border-radius: 12px;
  text-transform: uppercase;
}
.section-heading {
  text-transform: uppercase;
  color: #44a1a8;
}
.title {
  font-family: "Hepta Slab", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
/* ///////////////////// Common-pages Css //////////////////////////// */
.page-section {
  margin-top: -71px;
  background-image: url(/assets/png/Page-hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
.page-hero-content {
  color: #fff;
  max-width: 744px;
  margin: 0 auto;
  padding: 251px 0px 200px;
  text-align: center;
}
.page-title {
  font-size: 52px;
  font-family: "Hepta Slab", sans-serif;
  font-weight: 600;
  margin-bottom: 24px;
}
.page-detail {
  font-size: 20px;
}
.page-common-container {
  justify-content: space-between;
  margin: 120px auto 40px;
}
.page-common-txt {
  max-width: 520px;
  margin: 30px 0px;
  font-size: 20px;
  line-height: 1.5;
}
.page-flex {
  align-items: start;
  justify-content: space-between;
  margin-bottom: 40px;
}
.page-flex-title {
  font-size: 20px;
  margin-bottom: 20px;
}
.duration-flex,
.price-flex {
  gap: 12px;
}
.duration-flex > p {
  display: inline-block;
  max-width: 170px;
}
.price-flex > p {
  max-width: 150px;
}
.page-flex-svg {
  width: fit-content;
  background-color: #176478;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  place-content: center;
}
.common-card {
  background-color: #176478;
  color: #fff;
  padding: 45px 85px;
  border-radius: 20px;
  text-align: center;
}
.common-card-title {
  font-size: 20px;
  margin-bottom: 40px;
}
.common-card-flex {
  justify-content: space-between;
}
.common-card-svg {
  margin: 0 auto;
  background-color: #e6fdff;
  padding: 8px;
  width: fit-content;
  border-radius: 50%;
}
.common-card-txt {
  margin-top: 20px;
  max-width: 140px;
}
/* ///////////////////// Header Css //////////////////////////// */
.header-content {
  padding-top: 18px;
  justify-content: space-between;
}
.header-ul {
  gap: 32px;
}
.header-li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600px;
}
.header-li > a:hover {
  color: #44a1a8;
}
.header-btn {
  background-color: #fff;
  color: inherit;
  font-weight: 600;
}

/* ///////////////////// Hero Section //////////////////////////// */
.hero {
  margin-top: -71px;
  background-color: #176478;
  color: #fff;
  padding: 171px 0px 120px;
}
.hero-container {
  gap: 85px;
  max-width: 1260px;
  margin: 0 auto;
}
.hero-content {
  max-width: 594px;
}
.hero-title {
  font-size: 52px;
  font-family: "Hepta Slab", sans-serif;
  margin-bottom: 24px;
}
.hero-detail {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.5;
}
.hero-btn {
  width: fit-content;
  background-color: #44a1a8;
}
/* ///////////////////// About-Us Section //////////////////////////// */
.about-card {
  background-color: #fff;
  max-width: 1344px;
  margin: -60px auto 0px;
  padding: 50px 196px;
  border-radius: 24px;
  box-shadow: 0px 5px 20px #00000020;
}
.about-card-item {
  flex: 1;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.about-card-svg {
  padding: 22px;
  width: fit-content;
  border-radius: 50%;
  background-color: #44a1a8;
}
.about-card-txt {
  max-width: 128px;
  text-align: center;
}
.about-content {
  margin: 120px auto;
  text-align: center;
}
.about-detail {
  font-size: 28px;
  margin: 16px auto 12px;
  max-width: 940px;
}
.about-btn {
  margin: 0 auto;
  width: fit-content;
  background-color: #44a1a8;
}
.about-flex-card {
  align-items: stretch;
  justify-content: space-between;
  margin-top: 75px;
}
.about-flex-card-item1,
.about-flex-card-item2 {
  height: 400px;
  width: calc(50.5% - 20px);
  align-items: start;
  background-color: #44a1a8;
  text-align: start;
  border-radius: 24px;
  padding: 60px 0px 0px 50px;
  position: relative;
  overflow: hidden;
}
.about-flex-card-item2 {
  background-color: #176478;
}
.about-flex-card-title {
  color: #fff;
}
.about-flex-card-txt {
  color: #fff;
  margin: 16px 0px 30px;
}
.about-flex-card-btn {
  width: fit-content;
  background-color: #fff;
  color: #44a1a8;
}
.about-flex-img-1,
.about-flex-img-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  /* margin-left: -70px; */
}
.about-flex-img-2 {
  z-index: 1;
  align-self: end;
}
.about-ring-1 {
  position: absolute;
  bottom: -100px;
  left: 0px;
}
.about-ring-2 {
  position: absolute;
  bottom: -100px;
  right: -65px;
}
/* ///////////////////// Course Section //////////////////////////// */

.course {
  background-color: #e6fdff;
  padding: 90px 0px;
}
.course-container {
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #fff;
  padding-left: 85px;
  border-radius: 24px;
}
.course-title {
  max-width: 550px;
  margin: 16px 0px 50px;
}
/* ///////////////////// Services Section //////////////////////////// */
.services {
  margin: 130px auto 150px;
  text-align: center;
}
.service-title {
  margin: 15px 0px 25px;
}
.service-txt {
  margin: 0 auto;
  font-size: 18px;
  max-width: 744px;
  line-height: 1.3;
}
.service-grid {
  margin: 40px 0px 150px;
  column-gap: 28px;
  row-gap: 42px;
}
.service-grid-img {
  width: 100%;
}
.service-img-content {
  margin-top: -60px;
  padding: 0px 25px;
  justify-content: space-between;
}
.service-grid-txt {
  font-family: "Noto Serif HK", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.service-grid-btn {
  display: flex;
  place-content: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  color: inherit;
  transition: all 0.3s;
}
.service-grid-btn:hover {
  background-color: #44a1a8;
  color: #fff;
  transform: scale(1.1);
}
.service-card {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #176478;
  border-radius: 24px;
  overflow: hidden;
}
.service-card-content {
  padding: 68px 0px 0px 80px;
  flex-direction: column;
}
.service-card-title,
.service-card-txt {
  color: #fff;
}
.service-card-txt {
  font-size: 20px;
  max-width: 488px;
  margin: 16px 0px 42px;
  line-height: 1.3;
}
.service-card-txt > span {
  color: #44a1a8;
}
.service-card-btn {
  background-color: #fff;
  color: #176478;
  font-weight: 500;
}
.service-med-img {
  align-self: end;
}
.service-card-img {
  align-self: stretch;
}
/* ///////////////////// Testimonials Section //////////////////////////// */
.testimonials {
  padding: 150px 0px 130px;
}
.test-container {
  text-align: center;
}
.test-title {
  margin: 16px 0px;
}
.test-txt {
  font-size: 18px;
}
.clients {
  margin: 50px 0px 40px;
  gap: 25px;
}
.client-card {
  text-align: start;
}
.client-info {
  gap: 15px;
  margin-bottom: 30px;
}
.client-name {
  font-size: 24px;
  font-weight: 600;
}
.date {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.6;
}
.client-card-detail {
  margin-top: 10px;
  max-width: 360px;
  line-height: 1.5;
}
.test-btn {
  margin: 0 auto;
}
/* ///////////////////// Our Offer Section //////////////////////////// */
.our-offer {
  background-color: rgba(68, 161, 168, 0.13);
  padding: 110px 0px;
}
.offer-container {
  padding: 80px 72px 80px 156px;
  background-color: #fff;
  border-radius: 24px;
}
.offer-title {
  margin-bottom: 40px;
}
/* ///////////////////// FAQ'S Section //////////////////////////// */
.experience {
  max-width: 1130px;
  margin: 150px auto;
}
.experience-card {
  margin-left: -185px;
  background-color: #e7f3f4;
  border-radius: 24px;
  padding: 75px;
}
.experience-title {
  margin: 8px 0px 25px;
}
.experience-detail {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.newsletter {
  background-color: #e9fdff;
  padding: 110px 0px;
}
.newsletter-flex {
  justify-content: space-between;
}
.newsletter-content > input {
  background-color: rgba(167, 237, 255, 0.2);
  margin-right: 10px;
  width: 100%;
  max-width: 300px;
  padding: 17px 0px 17px 22px;
  border: 1px solid rgba(68, 161, 168, 0.3);
  border-radius: 12px;
}
.newsletter-content > input:focus-visible {
  outline: none;
}
.newsletter-content > input::placeholder {
  color: #878787;
  font-size: 14px;
}

.newsletter-title {
  max-width: 460px;
  margin: 8px 0px 38px;
}
.news-btn {
  display: inline;
}
.community-txt {
  font-family: "Noto Serif HK", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.community-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
}
/* ///////////////////// About Us Page ///////////////////////////// */
.Aboutus-content,
.master-content {
  max-width: 865px;
  padding: 231px 0px 120px;
}
.About-experience .experience-card {
  padding: 42px 50px;
}
.About-experience .experience-title {
  margin: 0px 0px 20px;
}
.About-experience .experience-detail {
  margin: 0px;
}
.ourteam {
  background-color: #e6fdff;
  padding: 100px 0px;
  text-align: center;
}
.ourteam-txt {
  max-width: 610px;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px auto 60px;
}
.ourteam-flex {
  justify-content: space-between;
}
.ourteam-img1 {
  background-image: url(/assets/png/ourteam-img1.png);
}
.ourteam-img2 {
  background-image: url(/assets/png/ourteam-img2.png);
}
.ourteam-img1,
.ourteam-img2 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 630px;
  width: 550px;
  display: flex;
  align-items: end;
}
.ourteam-img-content {
  padding: 0px 32px 36px 37px;
  text-align: start;
  justify-content: space-between;
  color: #fff;
  flex: 1;
}
.ourteam-img-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.ourteam-img-rank {
  font-size: 24px;
  font-weight: 400;
}
.ourteam-img-icons {
  flex-direction: column;
  gap: 10px;
}
.certification {
  max-width: 930px;
  margin: 150px auto;
  text-align: center;
}
.certification-txt {
  max-width: 610px;
  margin: 20px auto 0px;
  font-size: 18px;
  line-height: 1.4;
}
.certification-logos {
  margin-top: 60px;
  justify-content: space-between;
}
/* ///////////////////// Master Classes Page ///////////////////////////// */
.training {
  margin: 135px auto 155px;
  justify-content: space-between;
}
.training-txt {
  margin: 20px 0px 30px;
  font-size: 18px;
  max-width: 475px;
  line-height: 1.5;
}
.training-list {
  font-size: 20px;
  color: #176478;
  margin-bottom: 14px;
}
.training-content > ul > li {
  line-height: 1.5;
}
.training-svg {
  margin-right: 8px;
}
