/* 
color: #176478;
color: #44A1A8;
color: #1E1E1E;
color: #FFFFFF;
color: #E6FDFF;
color: #E6FDFF;

fonts- Noto Serif HK
fonts- Outfit
fonts- Hepta Slab

h2: font-size 36px;
btn-font: outfit
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  color: #1e1e1e;
}
img,
a {
  display: block;
  max-width: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
}
/* ///////////////////// General Css //////////////////////////// */
.container {
  padding: 0px 16px;
  max-width: 1440px;
  margin: 0 auto;
}
.content-container {
  padding: 0px 16px;
  max-width: 1260px;
  margin: 0 auto;
}
.width-container {
  padding: 0px 16px;
  max-width: 1130px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
}
.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}
.btn {
  width: fit-content;
  padding: 14px 32px;
  background-color: #176478;
  color: #fff;
  border-radius: 12px;
  text-transform: uppercase;
}
.section-heading {
  text-transform: uppercase;
  color: #44a1a8;
}
.title {
  font-family: "Hepta Slab", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
/* ///////////////////// Common-pages Css //////////////////////////// */
.page-section {
  margin-top: -71px;
  background-image: url(/assets/png/Page-hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
.page-hero-content {
  color: #fff;
  max-width: 762px;
  margin: 0 auto;
  padding: 251px 16px 200px;
  text-align: center;
}
.page-title {
  font-size: 52px;
  font-family: "Hepta Slab", sans-serif;
  font-weight: 600;
  margin-bottom: 24px;
}
.page-detail {
  font-size: 20px;
}
.page-common-container {
  justify-content: space-between;
  margin: 120px auto 40px;
}
.page-common-txt {
  max-width: 520px;
  margin: 30px 0px;
  font-size: 20px;
  line-height: 1.5;
}
.page-flex {
  align-items: start;
  justify-content: space-between;
  margin-bottom: 40px;
}
.page-flex-title {
  font-size: 20px;
  margin-bottom: 20px;
}
.duration-flex,
.price-flex {
  gap: 12px;
}
.duration-flex > p {
  display: inline-block;
  max-width: 170px;
}
.price-flex > p {
  max-width: 135px;
}
.page-flex-svg {
  width: fit-content;
  background-color: #176478;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  place-content: center;
}
.common-card {
  background-color: #176478;
  color: #fff;
  padding: 45px 85px;
  border-radius: 20px;
  text-align: center;
}
.common-card-title {
  font-size: 20px;
  margin-bottom: 40px;
}
.common-card-flex {
  justify-content: space-between;
}
.common-card-svg {
  margin: 0 auto;
  background-color: #e6fdff;
  padding: 8px;
  width: fit-content;
  border-radius: 50%;
}
.common-page-testimonials {
  padding: 150px 0px 226px !important;
}
.common-card-txt {
  margin-top: 20px;
  max-width: 140px;
}
.consultation {
  background-color: #e6fdff;
}
.common-consultation {
  padding: 100px 20px;
  justify-content: space-between;
  position: relative;
}
.consultation-content {
  max-width: 455px;
}
.consultation-txt {
  font-size: 20px;
  margin: 20px 0px 40px;
}
.consultation-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ///////////////////// Header Css //////////////////////////// */
.header-content {
  padding: 18px 20px 0px;
  justify-content: space-between;
}
.header-ul {
  gap: 32px;
}
.header-li > a {
  text-transform: uppercase;
  font-weight: 500;
}
.header-li > a:hover {
  color: #44a1a8;
}
.header-btn {
  background-color: #fff;
  color: inherit;
  font-weight: 600;
}
.header-services {
  gap: 10px;
}
.hamburger-menu {
  display: none;
}
/* ///////////////////// Hero Section //////////////////////////// */
.hero {
  margin-top: -71px;
  background-color: #176478;
  color: #fff;
  padding: 171px 0px 120px;
}
.hero-container {
  justify-content: space-between;
}
.hero-content {
  max-width: 594px;
}
.hero-title {
  font-size: 52px;
  font-family: "Hepta Slab", sans-serif;
  margin-bottom: 24px;
}
.hero-detail {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.5;
}
.hero-btn {
  width: fit-content;
  background-color: #44a1a8;
}
/* ///////////////////// About-Us Section //////////////////////////// */
.about-card {
  background-color: #fff;
  max-width: 1344px;
  margin: -60px auto 0px;
  padding: 50px 196px;
  border-radius: 24px;
  box-shadow: 0px 5px 20px #00000020;
}
.about-card-item {
  flex: 1;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.about-card-svg {
  padding: 22px;
  width: fit-content;
  border-radius: 50%;
  background-color: #44a1a8;
}
.about-card-txt {
  max-width: 128px;
  text-align: center;
}
.about-content {
  max-width: 1340px;
  margin: 120px auto;
  text-align: center;
}
.about-detail {
  font-size: 28px;
  margin: 16px auto 12px;
  max-width: 940px;
}
.about-btn {
  margin: 0 auto;
  width: fit-content;
  background-color: #44a1a8;
}
.about-flex-card {
  align-items: stretch;
  justify-content: space-between;
  margin: 75px 20px 0px;
}
.about-flex-card-item1,
.about-flex-card-item2 {
  height: 400px;
  width: calc(50.5% - 20px);
  align-items: start;
  background-color: #44a1a8;
  text-align: start;
  border-radius: 24px;
  padding: 60px 0px 0px 50px;
  position: relative;
  overflow: hidden;
}
.about-flex-card-item2 {
  background-color: #176478;
}
.about-flex-card-title {
  color: #fff;
}
.about-flex-card-txt {
  color: #fff;
  margin: 16px 0px 30px;
}
.about-flex-card-btn {
  width: fit-content;
  background-color: #fff;
  color: #44a1a8;
}
.about-flex-img-1,
.about-flex-img-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  /* margin-left: -70px; */
}
.about-flex-img-2 {
  z-index: 1;
  align-self: end;
}
.about-ring-1 {
  position: absolute;
  bottom: -100px;
  left: 0px;
}
.about-ring-2 {
  position: absolute;
  bottom: -100px;
  right: -65px;
}
/* ///////////////////// Course Section //////////////////////////// */

.course {
  background-color: #e6fdff;
  padding: 90px 0px;
}
.course-container {
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #fff;
  padding-left: 85px;
  border-radius: 24px;
}
.course-title {
  max-width: 550px;
  margin: 16px 0px 50px;
}
/* ///////////////////// Services Section //////////////////////////// */
.services {
  margin: 130px auto 150px;
  text-align: center;
}
.service-title {
  margin: 15px 0px 25px;
}
.service-txt {
  margin: 0 auto;
  font-size: 18px;
  max-width: 744px;
  line-height: 1.3;
}
.service-grid {
  margin: 40px 0px 150px;
  column-gap: 28px;
  row-gap: 42px;
}
.service-grid-img {
  width: 100%;
}
.service-img-content {
  margin-top: -60px;
  padding: 0px 25px;
  justify-content: space-between;
}
.service-grid-txt {
  font-family: "Noto Serif HK", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.service-grid-btn {
  display: flex;
  place-content: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  color: inherit;
  transition: all 0.3s;
}
.service-grid-btn:hover {
  background-color: #44a1a8;
  color: #fff;
  transform: scale(1.1);
}
.service-section {
  padding: 0px 20px;
}
.service-card {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #176478;
  border-radius: 24px;
  overflow: hidden;
}
.service-card-content {
  padding: 68px 0px 0px 80px;
  flex-direction: column;
}
.service-card-title,
.service-card-txt {
  color: #fff;
}
.service-card-txt {
  font-size: 20px;
  max-width: 488px;
  margin: 16px 0px 42px;
  line-height: 1.3;
}
.service-card-txt > span {
  color: #44a1a8;
}
.service-card-btn {
  background-color: #fff;
  color: #176478;
  font-weight: 500;
}
.service-med-img {
  align-self: end;
}
.service-card-img {
  object-fit: cover;
  align-self: stretch;
}
/* ///////////////////// Testimonials Section //////////////////////////// */
.testimonials {
  padding: 150px 0px 130px;
}
.test-container {
  text-align: center;
}
.test-title {
  margin: 16px 0px;
}
.test-txt {
  font-size: 18px;
}
.clients {
  align-items: stretch;
  margin: 50px 0px 40px;
  gap: 25px;
}
.client-card {
  text-align: start;
}
.client-info {
  gap: 15px;
  margin-bottom: 30px;
}
.client-name {
  font-size: 24px;
  font-weight: 600;
}
.date {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.6;
}
.client-card-detail {
  margin-top: 10px;
  max-width: 360px;
  line-height: 1.5;
}
.test-btn {
  margin: 0 auto;
}
/* ///////////////////// Our Offer Section //////////////////////////// */
.our-offer {
  background-color: rgba(68, 161, 168, 0.13);
  padding: 110px 20px;
}
.offer-container {
  padding: 80px 72px 80px 156px;
  background-color: #fff;
  border-radius: 24px;
}
.offer-title {
  margin-bottom: 40px;
}
/* ///////////////////// FAQ'S Section //////////////////////////// */
.experience-section {
  padding: 0 20px;
}
.experience {
  max-width: 1130px;
  margin: 150px auto;
}
.experience-card {
  margin-left: -185px;
  background-color: #e7f3f4;
  border-radius: 24px;
  padding: 75px;
}
.experience-title {
  margin: 8px 0px 25px;
}
.experience-detail {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.newsletter {
  background-color: #e9fdff;
  padding: 110px 0px;
}
.newsletter-flex {
  justify-content: space-between;
}
.newsletter-content > input {
  background-color: rgba(167, 237, 255, 0.2);
  margin-right: 10px;
  width: 100%;
  max-width: 300px;
  padding: 17px 0px 17px 22px;
  border: 1px solid rgba(68, 161, 168, 0.3);
  border-radius: 12px;
}
.newsletter-content > input:focus-visible {
  outline: none;
}
.newsletter-content > input::placeholder {
  color: #878787;
  font-size: 14px;
}

.newsletter-title {
  max-width: 460px;
  margin: 8px 0px 38px;
}
.news-btn {
  display: inline;
}
.community-txt {
  font-family: "Noto Serif HK", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.community-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
}

/* ///////////////////// Footer Section ///////////////////////////// */
footer {
  background-color: #1e1e1e;
  color: #fff;
}
.footer {
  padding: 135px 0px 64px;
}
.footer-content {
  align-items: start;
  justify-content: space-between;
}
.footer-title {
  font-size: 22px;
  margin-bottom: 23px;
}
.footer ul li {
  font-size: 18px;
  padding: 11px 0px;
}
.footer ul li a:hover,
.our-timings span:hover {
  cursor: pointer;
  color: #44a1a8;
}
.our-timings span {
  font-size: 18px;
  padding: 11px 0px;
  display: block;
  position: relative;
}
.our-timings span:last-child::after {
  display: none;
}
.our-timings span::after {
  content: "";
  background-color: rgb(255, 255, 255, 0.12);
  display: flex;
  height: 1px;
  width: 310px;
  position: absolute;
  bottom: 0;
}
.our-timings-flex {
  display: flex;
  gap: 12px;
}
.our-timings ul li:last-child {
  border-bottom: none;
}
.our-timings ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-us ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.copyright-content {
  font-size: 18px;
}
.copyright-content span {
  color: #44a1a8;
}
.copyright-flex {
  justify-content: space-between;
  padding: 24px 16px 52px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}
.copyright-logo {
  gap: 8px;
}
/* ///////////////////// About Us Page ///////////////////////////// */
.Aboutus-content,
.master-content {
  max-width: 865px;
  padding: 231px 0px 120px;
}
.About-experience .experience-card {
  padding: 42px 50px;
}
.About-experience .experience-title {
  margin: 0px 0px 20px;
}
.About-experience .experience-detail {
  margin: 0px;
}
.ourteam {
  background-color: #e6fdff;
  padding: 100px 0px;
  text-align: center;
}
.ourteam-content {
  max-width: 1150px;
}
.ourteam-txt {
  max-width: 610px;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px auto 60px;
}
.ourteam-flex {
  justify-content: space-between;
}
.ourteam-img1 {
  background-image: url(/assets/png/ourteam-img1.png);
}
.ourteam-img2 {
  background-image: url(/assets/png/ourteam-img2.png);
}
.ourteam-img1,
.ourteam-img2 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 630px;
  width: 550px;
  display: flex;
  align-items: end;
}
.ourteam-img-content {
  padding: 0px 32px 36px 37px;
  text-align: start;
  justify-content: space-between;
  color: #fff;
  flex: 1;
}
.ourteam-img-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.ourteam-img-rank {
  font-size: 24px;
  font-weight: 400;
}
.ourteam-img-icons {
  flex-direction: column;
  gap: 10px;
}
.certification {
  max-width: 930px;
  margin: 150px auto;
  text-align: center;
}
.certification-txt {
  max-width: 610px;
  margin: 20px auto 0px;
  font-size: 18px;
  line-height: 1.4;
}
.certification-logos {
  margin-top: 60px;
  justify-content: space-between;
}
/* ///////////////////// Master Classes Page ///////////////////////////// */
.training {
  margin: 135px auto 155px;
  justify-content: space-between;
}
.training-txt {
  margin: 20px 0px 30px;
  font-size: 18px;
  max-width: 475px;
  line-height: 1.5;
}
.training-list {
  font-size: 20px;
  color: #176478;
  margin-bottom: 14px;
}
.training-content > ul > li {
  line-height: 1.5;
}
.training-svg {
  margin-right: 8px;
}
/* ///////////////////// FAQ Page ///////////////////////////// */
.page-container {
  padding: 120px 0px 150px;
  text-align: center;
}
.faq-title {
  margin: 10px 0px 18px;
}
.faq-txt {
  font-size: 18px;
}
.page-accordion-container {
  margin-top: 80px;
  text-align: start;
  align-items: center;
  gap: 20px;
}
.treatment-img {
  object-fit: cover;
  border-radius: 16px;
}
.aftercare-accordion-container {
  max-width: 1320px;
  padding: 0px 20px;
  margin: 80px auto 0px;
  gap: 40px;
}
.aftercare-accordion-container .page-accordion-content p {
  padding: 16px 30px;
}
.page-accordion-item {
  max-width: 590px;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 15px;
}
.page-accordion-header {
  width: 100%;
  background: none;
  border: none;
  padding: 28px 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.page-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}
.page-accordion-content p {
  font-size: 14px;
  padding: 9px 30px;
  margin: 0;
}

.accordion-icon {
  font-size: 22px;
  transition: transform 0.3s ease;
}
.page-accordion-item.active .page-accordion-header {
  background-color: #176478;
  color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.page-accordion-item.active .page-accordion-content {
  max-height: 300px;
}
.page-accordion-item.active .accordion-icon {
  transform: rotate(180deg);
}
/* ///////////////////// Aftercare page ///////////////////////////// */
.glow-title {
  max-width: 590px;
  margin: 10px 0px 20px;
}
.glow-txt {
  font-size: 18px;
  margin-bottom: 40px;
}
.priority-flex {
  max-width: 1150px;
  margin: 0 auto;
  padding-bottom: 150px;
  justify-content: space-between;
}
.priority-detail {
  margin-top: 20px;
  max-width: 446px;
  font-size: 18px;
  line-height: 1.4;
}
.priority-btn {
  margin-top: 40px;
}
/* ///////////////////// LUMIFIT Page ///////////////////////////// */
.lumifit.page-hero-content {
  max-width: 970px;
}
.lumifit-experience.About-experience {
  padding: 120px 0px;
}
.lumifit-card.experience-card {
  margin-left: -245px;
}
.partnership-title {
  max-width: 525px;
  line-height: 1.5;
}
.partnership-txt {
  max-width: 530px;
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.8;
}
.lumifit-founder.common-consultation {
  padding: 0px 20px;
}
.lumifit-founder-img {
  position: unset;
  margin-top: -80px;
}
.lumifit-founder-content {
  align-items: start;
  max-width: 650px;
  gap: 17px;
}
.lumifit-founder-title {
  font-size: 26px;
}
.lumifit-founder-txt {
  margin: 20px 0px;
  font-size: 26px;
  max-width: 600px;
}
/* ///////////////////// Media Queries ///////////////////////////// */
@media only screen and (max-width: 1366px) {
  .hero-img {
    width: clamp(280px, 45vw, 540px);
  }
  .about-card {
    margin: -60px 20px 0px;
  }
  .course {
    padding: 90px 20px;
  }
  .course-container {
    gap: 20px;
  }
  .course-title {
    font-size: 34px;
  }
  .course-img {
    width: clamp(320px, 45vw, 613px);
  }
  .service-card {
    justify-content: space-between;
    gap: 10px;
  }
  .offer-img {
    width: clamp(350px, 50vw, 725px);
  }
  .page-accordion-container {
    justify-content: center;
  }
  .treatment-img,
  .experience-img {
    width: clamp(280px, 45vw, 673px);
  }
  .experience-card {
    width: clamp(280px, 42vw, 673px);
    padding: 45px;
  }
  .experience-content {
    justify-content: center;
  }
}
@media only screen and (max-width: 1200px) {
  .header-img {
    width: 200px;
  }
  .header-li > a {
    font-size: 14px;
  }
  .header-btn {
    font-size: 12px;
    /* padding: 10px 20px; */
  }
  .hero-content {
    width: clamp(260px, 50vw, 540px);
  }
  .hero-title {
    font-size: 42px;
  }
  .about-card {
    padding: 50px 100px;
  }
  .about-card-svg {
    padding: 18px;
  }
  .course-container {
    padding-left: 40px;
  }
  .service-card-content {
    padding: 50px 0px 0px 60px;
  }
  .service-card-img {
    width: clamp(280px, 45vw, 640px);
  }
  .service-med-img {
    width: clamp(200px, 30vw, 353px);
  }
  .experience-card {
    padding: 25px;
  }
  .experience-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .experience-btn {
    margin-top: -10px;
    font-size: 14px;
  }
  .footer ul li a,
  .footer span,
  .copyright ul li a {
    font-size: 16px;
  }
  .our-timings span::after {
    width: 280px;
  }
  .page-common-title {
    font-size: 30px;
  }
  .page-common-txt {
    font-size: 18px;
    max-width: 415px;
  }
  .aftercare-accordion-container {
    gap: 20px;
  }
  .page-accordion-header {
    padding: 20px 30px;
  }
  .service-grid {
    column-gap: 20px;
  }
  .service-img-content {
    padding: 0 14px;
  }
  .offer-container {
    padding: 60px 42px 60px 80px;
  }
}
@media only screen and (max-width: 1024px) {
  .header-img {
    width: 150px;
  }
  .header-li > a {
    font-size: 12px;
  }
  .header-ul {
    gap: 28px;
  }
  .header-btn {
    font-size: 12px;
    padding: 12px 24px;
  }
  .page-title {
    font-size: 48px;
  }
  .page-detail {
    font-size: 18px;
  }
  .title {
    font-size: 32px;
  }
  .service-card-txt {
    font-size: 18px;
    max-width: 400px;
  }
  .page-common-container {
    gap: 10px;
  }
  .page-common-img {
    width: clamp(280px, 50vw, 520px);
  }
  .course-container {
    padding-left: 20px;
  }
  .course-title {
    font-size: 30px;
  }
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-img-content {
    padding: 0 25px;
  }
  .duration-flex p,
  .price-flex p {
    font-size: 14px;
  }
  .consultation-title,
  .page-common-title {
    font-size: 28px;
  }
  .test-txt {
    font-size: 16px;
  }
  .client-name {
    font-size: 24px;
  }
  .client-card-detail {
    font-size: 14px;
  }
  .consultation-txt {
    font-size: 18px;
  }
  .consultation-img {
    width: 500px;
  }
  .common-page-testimonials {
    padding: 150px 0px 140px !important;
  }
  .page-accordion-header {
    font-size: 14px;
  }
  .footer-flex-item {
    padding: 0px 20px;
  }
  .footer-content {
    flex-wrap: wrap;
    gap: 20px;
  }
  .copyright-content {
    font-size: 16px;
  }
}
@media only screen and (max-width: 990px) {
  .hero-title {
    font-size: 38px;
  }
  .hero-detail {
    font-size: 18px;
  }
  .about-card-svg svg {
    width: 40px;
    height: 40px;
  }
  .service-card-content {
    padding: 20px 0px 0px 30px;
  }
  .service-card-title {
    max-width: 400px;
    font-size: 28px;
  }
  .offer-container {
    padding: 30px 24px 30px 40px;
  }
  .page-accordion-container {
    gap: 50px;
    flex-direction: column;
  }
  .accordion-flex-item {
    width: 100%;
    max-width: 100%;
  }
  .page-accordion-item {
    max-width: 100%;
  }
  .page-accordion-header {
    padding: 28px 30px;
    font-size: 18px;
  }
  .treatment-img {
    width: 85%;
  }
  .experience-content {
    justify-content: start;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .experience-img {
    width: 85%;
  }
  .experience-card {
    margin-left: 0px;
    padding: 75px;
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 880px) {
  header nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hero-title {
    font-size: 33px;
  }
  .btn {
    font-size: 14px;
  }
  .about-card-content {
    display: grid;
    row-gap: 40px;
  }
  .page-detail {
    max-width: 594px;
    margin: 0 auto;
  }
  .page-common-title {
    font-size: 24px;
  }
  .page-common-txt {
    font-size: 16px;
  }
  .page-flex-btn {
    font-size: 14px;
  }
  .course-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .course-btn {
    font-size: 14px;
  }
  .test-title {
    font-size: 30px;
  }
  .test-txt {
    font-size: 16px;
  }
  .client-img {
    width: 50px;
  }
  .client-name {
    font-size: 18px;
  }
  .date {
    font-size: 10px;
    margin-top: 5px;
  }
  .common-consultation {
    padding: 0px 20px;
  }
  .consultation-img {
    width: clamp(280px, 50vw, 520px);
    position: unset;
    margin-top: -74px;
  }
  .service-card-txt {
    margin-bottom: 36px;
  }
  .service-card-btn {
    font-size: 14px;
  }
  .clients-grid {
    display: grid;
  }
  .clients.clients-grid {
    gap: 0;
  }
}
@media only screen and (max-width: 767px) {
  .page-title {
    font-size: 38px;
  }
  .page-detail {
    font-size: 15px;
  }
  .common-card-flex {
    display: grid;
    row-gap: 28px;
  }
  .common-card-txt {
    margin: 20px auto 0;
  }
  .page-common-container {
    flex-direction: column;
    gap: 50px;
  }
  .page-common-title {
    font-size: 36px;
  }
  .page-common-txt {
    font-size: 20px;
    max-width: 100%;
  }
  .page-common-img {
    width: 100%;
  }
  .page-flex {
    justify-content: start;
    gap: 40px;
  }
  .clients {
    flex-direction: column;
    align-items: start;
  }
  .clients-grid {
    grid-template-columns: 1fr;
  }
  .clients-grid .client-card {
    margin-bottom: 40px;
  }
  .client-img {
    width: 64px;
  }
  .client-name {
    font-size: 22px;
  }
  .date {
    margin-top: 10px;
    font-size: 14px;
  }
  .client-card-detail {
    font-size: 18px;
    max-width: 100%;
  }
  .test-btn {
    font-size: 12px;
  }
  .consultation-title {
    font-size: 20px;
  }
  .consultation-txt {
    font-size: 15px;
    margin: 20px 0px;
  }
  .consultation-btn {
    font-size: 12px;
  }
  .copyright-content {
    font-size: 12px;
  }
  .copyright-logo {
    gap: 0px;
  }
  .copyright-svg {
    height: 25px;
  }
}
@media only screen and (max-width: 567px) {
  .page-title {
    font-size: 28px;
  }
  .page-detail {
    font-size: 14px;
    max-width: 400px;
  }
  .page-common-title {
    font-size: 26px;
  }
  .page-common-txt {
    font-size: 16px;
  }
  .common-consultation {
    padding-top: 40px;
    align-items: start;
    flex-direction: column;
  }
  .consultation-img {
    align-self: center;
    margin-top: 0px;
  }
}
